<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello Socks | Stytch example</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="app">
            <div class="nav">
                <h2>Hello Socks</h2>
                <div>
                    <span class="navItem">Women</span>
                    <span class="navItem">Men</span>
                    <span class="navItem">Kids</span>
                    <span class="navItem">Sale</span>
                    <span class="navItem">Community</span>
                </div>
                <div>
                    <img class="icon" src="/static/images/shopping-bag.png">
                    <a href="/profile"><img class="icon" src="/static/images/person.png"></a>
                </div>
            </div>
            <div class="content">
                <div class="card">
                    <div class="cardContent">
                        <h1>Welcome back!</h1>
                        <p>Your socks just can't wait to be shipped!</p>
                        <div class="actions">
                            <a href="/profile"><b>Profile</b></a>
                            <input class="arrow" type="image" src="/static/images/arrow.png">
                        </div>
                        <div class="actions">
                            <a href="/logout"><b>Logout</b></a>
                            <input class="arrow" type="image" src="/static/images/arrow.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
